.banner {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.post {
  margin-top: 5rem;
  padding-bottom: 3.75rem;

  h1,
  h2 {
    font-weight: bold;
    color: var(--gray-100);
  }

  header {
    margin-bottom: 4rem;

    h1 {
      letter-spacing: -0.0325rem;
      font-size: 3rem;

      margin-bottom: 1.5rem;
    }

    p {
      display: flex;

      time,
      span {
        display: flex;
        align-items: center;
        font-size: 0.945rem;
        color: var(--gray-300);

        svg {
          font-size: 1.35rem;
          margin-right: 0.5rem;
        }
      }

      span {
        margin-left: 1.5rem;
      }
    }

    small {
      display: block;
      margin-top: 1rem;

      font-size: 0.875rem;
      font-style: italic;

      color: var(--gray-300);
    }
  }

  article {
    margin-top: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.4;

    h2 {
      font-size: 2.25rem;
      margin-bottom: 2.25rem;
    }

    p,
    li {
      margin-top: 1.25rem;
    }

    a {
      color: var(--pink-500);
    }
  }
}

.footer {
  width: 100%;
  max-width: 720px;

  padding-top: 3rem;
  margin: 0 auto 5rem;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 5rem;

  border-top: 1px solid var(--gray-300);

  .links {
    display: flex;
    justify-content: space-between;

    a {
      p {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;

        transition: color 200ms ease-in-out;
      }

      span {
        font-weight: 600;
        color: var(--pink-500);
      }

      &:hover p {
        color: var(--pink-500);
      }

      & + a {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
